@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

h1,
h2 {
  margin: 0 auto;
  text-align: center;
  font-size: clamp(2rem, 10vw, 5rem);
  width: 60%;
}

@media (max-width: 770px) {
  h1,
  h2 {
    width: 100%;
  }
}

#particle-wrapper-intro,
#particle-wrapper-outro {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  align-content: center;
  padding: 1rem;
}

.cards-timeline-images {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.cards-timeline-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: clamp(15rem, 30vw, 40rem);
  border-radius: 0.2rem;
  aspect-ratio: 1/1;
  transform: translate(-50%, 200%);
  will-change: transform;
  overflow: hidden;
}

.intro,
.outro {
  color: white;
  background:
    linear-gradient(
        135deg,
        rgba(179, 102, 59, 0.1),
        rgba(196, 134, 81, 0.1) 50%,
        rgba(232, 165, 92, 0.1) 100%
      )
      70% 70% / cover no-repeat,
    radial-gradient(circle at center, #1c1c1c 0%, #0a0a0a 100%);
}
