@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100vw;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

h1,
h2 {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  align-content: center;
  padding: 1rem;
}

.cards-timeline-images {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-event: none;
}

.cards-timeline-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25rem;
  border-radius: 0.2rem;
  aspect-ratio: 1/1;
  transform: translate(-50%, 200%);
  will-change: transform;
  overflow: hidden;
}

.intro,
.outro {
  background-color: black;
  color: white;
}
